Shoping Cars Project Requirements...

1- Cars
2- Customers
3- Traders
4- Address
5- State
6- Company



1- State is used in this porject for shows a how is the state of a car, does this cars sold before or in the selling state.
2- We use address in this project to show the address of that company whic sell the cars.
3-Company is the main location where traders buy and sell their cars and also give some information to their customers from here.
4-Cars are our project products which all buying and selling operation doing on the cars products, and it is main part of project.
5-Customers are users that they wants to buying our website products, customers search for thier favourite car in our database.
1- State: State is used in this porject for shows how is the state of a car, does this cars sold before or in the selling state.
2- Address:  We use address in this project to show the address of that company whic sell the cars.
6- Employee :Employees are thoes persons that they can do these jobs.We have employees in our company for managing,sentry,driving,cooking and etc.
