Shoping Cars Project Requirement...

1- Cars
2- Customers
3- Traders
4- Address
5- State
6- Company



1- State is used in this porject for shows a how is the state of a car, does this cars sold before or in the selling state.
2- We use address in this project to show the address of that company whic sell the cars.
